[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/vim.symlink/bundle/command-t"]
	path = vim/vim.symlink/bundle/command-t
	url = git://git.wincent.com/command-t.git
